<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/CSS/bootstrap.css">

</head>

<body>
    {% include "./navbar.html" %} 

    {%block content%}
    {%endblock content%}


    <script src="/static/JS/jquery.js"></script>
    <script src="/static/JS/popper.js"></script>
    <script src="/static/JS/bootstrap.js"></script>

</body>

</html>