<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form name="payment" method="POST" class =”JM_Wallet_Button”
	action="https://testpg.rpay.co.in/reliance-webpay/v1.0
 /jiopayments"> 
<!-- General Info --> 
<input type='hidden' name="version" value="2.0"/> 
<input type='hidden' name="merchantid" 
value="100001000014146"/> 
<input type='hidden' name="clientid" value="10000002"/> 
<input type='hidden' name="merchantname" value="TEST"/> 
<input type='hidden' name="channel" value="WEB"/> 
<input type='hidden' name="returl" 
value="http://61.16.175.3:8089/misimul/purchaseResult.jsp"/> 
<input type='hidden' name="checksum"
value="748db6f87766ce9f8aef0fe740c15
ce658e614410f767a8b68a3e658f0bf05e8"/> 
<input type='hidden' name="token" value=""/> 
<!-- Transaction Info --> 
<input type='hidden' name="transaction.extref" 
value="P8564G73I19I3P6"/> 
<input type='hidden' name="transaction.timestamp" 
value="20170203173956"/> 
<input type='hidden' name="transaction.txntype" 
value="PURCHASE"/> 
<input type='hidden' name="transaction.amount" value="1.00"/> 
<input type='hidden' name="transaction.currency" 
value="INR"/> 
<input type='hidden' name="subscriber.mobilenumber" 
value="7738221020"/> 
<input type='hidden' name="subscriber.customerid" 
value="7738221020"/> 
<input type='hidden' name="productdescription" 
value="Product1"/> 
<input type='hidden' name="udf1" value="u1"/> 
<input type='hidden' name="udf2" value="u2"/> 
<input type='hidden' name="udf3" value="u3"/> 
<input type='hidden' name="udf4" value="u4"/> 
<input type='hidden' name="udf5" value="u5"/> 
<input type="submit" value="Jio Pay" /> 
</form>
</body>
</html>